.headerLink {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: thick double #32a1ce;
  padding-bottom: 15px;
}

.linkMain {
  text-decoration: none;
  font-size: 20px;
  margin: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.listStyle {
  font-family: "Montserrat", sans-serif;
}

.nameStyle {
  font-weight: bold;
  padding-top: 15px;
  padding-right: 5px;
}

.itemStyle{
  display: flex;
  border-bottom: 1px solid #32a1ce;
  margin: -16px;
  padding-bottom: 5px;
  padding-top: 15px;
}